@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

/*COLOR PALETTE
Blue: #0B66C2
*/

/* MAIN PROFILE SECTION */

body {
  box-sizing: border-box;
  background-color: #f3f2ef;
}

.mainProfileContainer {
  width: 100%;
  position: relative;
  margin-block: 1rem;
}

.mainProfileCard {
  border-radius: 10px;
  margin-inline: 1.5rem;
}

#mainProfilePicture {
  height: 35%;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 120px;
  left: 3%;
}

.mainProfileButtonEdit:active {
  border: none;
}

.mainProfileEdit {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  padding: 1rem;
}

#mainProfileBody {
  padding-inline: 2rem;
  padding-bottom: 2rem;
  padding-top: 0;
}

.mainProfileName {
  font-size: 1.5rem;
  font-weight: 700;
  padding-block: 0;
}

.mainProfileTitle {
  font-size: 1rem;
  font-weight: 400;
  padding-block: 0;
  margin: 0;
}

.mainProfileArea {
  font-weight: 400;
  font-size: 0.9rem;
  color: #666666;
  padding-block: 0;
}

.mainProfileContactInfo {
  color: #0b66c2;
  font-weight: 600;
}

.mainProfileButtonOpen {
  border-radius: 20px;
  padding-inline: 20px;
  padding-block: 3px;
  font-weight: 600;
  background-color: #0b66c2;
  color: white;
  margin-right: 0.5rem;
}

.mainProfileButtonOpen:hover {
  background-color: #084787;
  box-shadow: inset 0 0 0 2px #084787;
}

.mainProfileButtonAdd {
  border-radius: 20px;
  border: 1px solid #0b66c2;
  background-color: white;
  color: #0b66c2;
  padding-inline: 20px;
  padding-block: 3px;
  font-weight: 600;
  margin-right: 0.5rem;
}

.mainProfileButtonAdd:hover {
  box-shadow: inset 0 0 0 1px #0b66c2;
  background-color: #c5e0fc;
  color: #0b66c2;
}

.mainProfileButtonMore {
  border-radius: 20px;
  border: 1px solid #666666;
  background-color: white;
  color: #666666;
  padding-inline: 20px;
  padding-block: 3px;
  font-weight: 600;
}

.mainProfileButtonMore:hover {
  box-shadow: inset 0 0 0 1px #666666;
  background-color: #e0e0e0;
  color: #666666;
}

.mainCardsTitle {
  font-weight: 600;
}

.mainCardsSubtitle {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #666666;
}

.analyticsTitles {
  font-weight: 600;
  margin: 0;
}

.toActivityPage {
  color: #666666;
  font-weight: 600;
  text-align: center;
  padding: 0.3rem;
  margin: 0;
}

.cardSeparator {
  margin: 0;
  padding-inline: 1rem;
}

.activityButton {
  text-align: right;
  border-radius: 20px;
  border: 1px solid #0b66c2;
  background-color: white;
  color: #0b66c2;
  padding-inline: 20px;
  padding-block: 3px;
  font-weight: 600;
  margin-right: 0.5rem;
}

.activityButton:hover {
  border: inset 2px solid #0b66c2;
  background-color: #c5e0fc;
  color: #0b66c2;
}

.nav-link span {
  font-size: 12px;
  color: grey;
  width: max-content;
}

.nav-link {
  padding: 0;
}

.profileDropdown {
  font-size: 12px;
  padding: 0;
  color: #666666;
}

.navbarSeparator {
  border: 0.5px solid #666666;
  margin-inline: 0.5rem;
}

.content-buttons {
  cursor: pointer;
}

.delete-button {
  display: none;
  right: 0;
  top: 30%;
}

.exp-col:hover .delete-button {
  display: block;
}
.button-close {
  margin-top: 15px;
  border-radius: 20px;
  border: 1px solid #0b66c2;
  background-color: white;
  color: #0b66c2;
  padding-inline: 20px;
  padding-block: 3px;
  font-weight: 600;
  margin-right: 0.5rem;
}
.button-upload {
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 0.5rem;
}
.button-close:hover {
  border: inset 2px solid #0b66c2;
  background-color: #c5e0fc;
  color: #0b66c2;
}
.button-upload:hover {
  border: inset 2px solid #0b66c2;
  background-color: #c5e0fc;
  color: #0b66c2;
}
.delete-button:hover {
  fill: #d42d2d;
}

.edit-button:hover {
  fill: #4ed42d;
}

.homepageContainer {
  display: flex;
}

.postProfileImage {
  height: 70px;
  margin-right: 1rem;
}

.postHeader {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.postHeaderTitle {
  font-size: 1rem;
  font-weight: 300;
  color: #666666;
  padding-block: 5px;
  margin: 0;
}

.postHeaderCreateDate {
  color: #666666;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

.postCreatorPicture {
  width: 50px;
  border-radius: 100%;
}

.leftSidebar {
  position: relative;
  width: 15rem;
}

.leftSidebarPicture {
  position: absolute;
  top: 10%;
  left: 30%;
}

.leftSidebarBody {
  padding-top: 4.5rem;
}

.leftSidebarSubtitle {
  color: #666666;
  font-size: 0.8rem;
  padding-block: 1rem;
}

.leftSidebarCounters {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.leftSidebarCounters span {
  color: #0b66c2;
  font-weight: 600;
  font-size: 0.8rem;
}

.leftSidebarButton {
  font-size: 0.8rem;
}

.homepageMainContainer {
  width: 50rem;
  margin: 0;
}

.change-img-icon {
  top: 200px;
  left: 100px;
  display: none;
  max-width: fit-content;
  max-height: fit-content;
}

#mainProfilePicture:hover + .change-img-icon {
  display: block;
}

#mainProfilePicture:hover {
  filter: brightness(0.5);
}
.postCreatorButton {
  border-radius: 20px;
  border: 1px solid #0b66c2;
  background-color: white;
  color: #0b66c2;
  padding-inline: 20px;
  padding-block: 3px;
  font-weight: 600;
  margin-right: 0.5rem;
}

.postCreatorButton:hover {
  box-shadow: inset 0 0 0 1px #0b66c2;
  background-color: #c5e0fc;
  color: #0b66c2;
}

.jobsApplyButton {
  background-color: #0b66c2;
  font-size: 1rem;
  padding-inline: 3rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.jobsUpdateTitle {
  font-weight: 600;
}
.postCreatorButton {
  border-radius: 20px;
  border: 1px solid #0b66c2;
  background-color: white;
  color: #0b66c2;
  padding-inline: 20px;
  padding-block: 3px;
  font-weight: 600;
  margin-right: 0.5rem;
}

.postCreatorButton:hover {
  box-shadow: inset 0 0 0 1px #0b66c2;
  background-color: #c5e0fc;
  color: #0b66c2;
}

.jobsApplyButton {
  background-color: #0b66c2;
  font-size: 1rem;
  padding-inline: 3rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.jobsUpdateTitle {
  font-weight: 600;
}

.star-icon {
  right: 30px;
  top: 45%;
  display: none;
}

.card-jobs:hover .star-icon {
  display: block;
  fill: goldenrod;
}

.favorite-job {
  display: block;
  fill: goldenrod;
}

hr {
  margin: 0.15rem;
}

.asideCard {
  width: 18rem;
}

.r-sidebar {
  width: 15rem;
  display: flex;
  margin-inline: auto;
}

.star-icon {
  right: 30px;
  top: 45%;
  display: none;
}

.card-jobs:hover .star-icon {
  display: block;
  fill: goldenrod;
}

.favorite-job {
  display: block;
  fill: goldenrod;
}

hr {
  margin: 0.15rem;
}

.asideCard {
  width: 18rem;
}

.r-sidebar {
  width: 15rem;
  display: flex;
  margin-inline: auto;
}

.jobDetailsCard {
  margin-top: 1rem;
  width: 50%;
}

.jobListCard {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.jobDetailsTitle {
  font-weight: 700;
}

.jobDetailsSubtitle {
  color: #666666;
  font-weight: 300;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

.jobDetailsIcons {
  font-size: 0.9rem;
  padding: 0;
}

.jobDetailsAboutTitle {
  font-weight: 600;
  padding-block: 1rem;
}
